body{
  box-sizing: border-box;
  background-color: black;
  position: absolute;
  
}
.head{
  width: 200px;
  border-radius: 50%;
  height: 200px;
  margin-top: 20px;
  background-color: #ffc0cb;
  position: relative;
  border: 5px solid black;
}
.ear {
  width: 50px;
  height: 50px;
 
  position: absolute;
  top: -10px;
  z-index: -1;
 
  border-radius: 50%;
  background-color: #ffc0cb;
  border: 5px solid black;
 }
 .ear:nth-child(1) {
  left: 10px;
 }
 
 .ear:nth-child(2) {
  right: 10px;
 }

 .eye {
  width: 50px;
  height: 50px;
 
  position: absolute;
  top: 40px;
 
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
 }
 
 .eye:nth-child(1) {
  left: 30px;
 }
 
 .eye:nth-child(2) {
  right: 30px;
 }
 .pupil {
  background-color: black;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .nose {
  border: 2px solid black;
  border-radius: 35%;
  background-color: #f57187;
  width: 100px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
 }
 
 .nostril {
  background-color: black;
  border-radius: 50%;
  width: 25%;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
 }
 
 .nostril:first-of-type {
  left: calc(50% * 1 / 4);
 }
 
 .nostril:last-of-type {
  right: calc(50% * 1 / 4);
 }
 